@import "tailwindcss";
/* :root {
  --font-weight-regular: 400;
  --font-test: 700;
} */

/* color */
@theme {
  --color-white:hsl(0, 0%, 100%);

  --color-slate-*: initial;
  --color-slate-300:hsl(212, 45%, 89%);
  --color-slate-500:hsl(216, 15%, 48%);
  --color-slate-900:hsl(218, 44%, 22%);
}

/* spacing */
@theme {
  --spacing-*: initial;
  --spacing-0:0;
  --spacing-200:1rem;
  --spacing-300:1.5rem;
  --spacing-500:2.5rem;
}

@utility typo-1 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--color-slate-900)
}

@utility typo-2 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-regular);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--color-slate-500)
}

body {
  @apply bg-slate-300 text-black;
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}
